@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: 4px solid theme('colors.theme-purple.100');
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.btn-circle {
	@apply
		rounded-full
		bg-theme-gray-200
		text-white
		h-12
		w-12
		inline-flex
		justify-center
		items-center;
}

.btn-circle:disabled {
	@apply bg-theme-gray-200 opacity-50 !important;
}

.btn-circle--red {
	@apply bg-theme-red-100;
}

.btn-circle--green {
	@apply bg-theme-green-100;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
}

.modal {
	@apply
		rounded-lg
		bg-white
		p-5
		min-w-[20rem]
		min-h-0;
}

.modal h2 {
	@apply
		text-center
		text-xl
		font-bold;
}

.modal input {
	@apply
		block
		border
		border-theme-gray-200
		rounded-md
		py-2
		px-4
		w-full
		mt-2.5
		font-bold;
}

.modal input.error {
	outline: 4px solid theme('colors.theme-red.50');
}

.modal .errorDescription {
	@apply
		font-bold
		text-theme-red-100
		mt-4;
}

.search {
	@apply
		flex
		flex-col
		items-center
		text-center
		mt-8
		mx-auto
		sm:w-[25rem]
}
.search__btn {
	@apply
		inline-block
		border
		border-theme-gray-100
		rounded-full
		w-12
		h-12;
}
.search__input {
	@apply
		border
		grow
		bg-white
		border-theme-gray-100
		rounded-md
		mt-4
		py-2
		px-4
		h-full
		w-full
		inline-block;

	height: 100%;
}

.current-select {
	@apply
		inline-grid
		border
		bg-white
		border-theme-gray-100
		rounded-md
		items-center
		relative
		min-w-full
		sm:min-w-[50ch];

	grid-template-areas: "select";
}

.current-select select,
.current-select::after {
	grid-area: select;
}

.current-select select {
	@apply
		appearance-none
		outline-none
		border-none
		bg-white
		py-2
		pl-4
		pr-10
		text-lg
		font-bold;
	
	border-radius: inherit;
}

.current-select::after {
	@apply mr-4;

	pointer-events: none;
	content: '';
	width: 0.8rem;
	height: 0.5rem;
	background-color: black;
	clip-path: polygon(100% 0, 0 0%, 50% 100%);
	justify-self: flex-end;
}

.current-select select:focus + .current-select__focus {
	position: absolute;
	display: block;
	inset: -4px;
	border: 4px solid theme('colors.theme-purple.100');
	border-radius: inherit;
}

.action-buttons {
	@apply
		flex
		justify-end
		mb-5;
}
.action-buttons__new {
	@apply
		rounded-md
		font-bold
		bg-theme-green-100
		flex
		justify-center
		items-center
		gap-2.5
		text-white
		py-2.5
		px-5;
}
.action-buttons__new:disabled {
	@apply bg-theme-gray-200 opacity-50;
}

.book-entry {
	@apply
		flex
		flex-col
		rounded-xl
		border
		border-theme-gray-100
		p-5
		gap-7
		mb-5
		text-center
		sm:flex-row
		sm:text-left;
}
.book-entry__art {
	@apply
		overflow-hidden
		rounded-md
		mx-auto;

	max-width: 4.3rem;
	max-height: 6.2rem;
}
.book-entry__art img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.book-entry__data {
	@apply
		grow
		flex
		flex-col
		justify-between
		min-h-full;
}
.book-entry__data h2 {
	@apply
		text-lg
		font-bold;
}
.book-entry__chapter-row {
	@apply
		flex
		flex-col
		mt-5
		gap-2.5
		justify-between
		relative
		items-center
		sm:items-start
		sm:mt-2.5
		sm:flex-row
		sm:gap-0;
}
.book-entry__chapter-group {
	@apply
		flex
		gap-1
		h-8;

}
.book-entry__chapter-value {
	@apply
		inline-flex
		items-center
		font-bold
		ml-2
		py-1
		px-2
		h-full
		border
		rounded
		border-theme-gray-100
		border-dashed
		cursor-pointer;
}
.book-entry__chapter-input {
	@apply
		inline-block
		h-full
		font-bold
		ml-2
		py-1
		px-2
		border
		rounded
		border-theme-gray-100;
}
.book-entry__chapter-plusminus-btn {
	@apply
		inline-block
		rounded
		bg-theme-purple-300
		px-3
		h-full
		text-white
		font-bold;
}
.book-entry__btns {
	@apply
		flex
		flex-col
		font-bold
		justify-between
		sm:justify-start
		gap-2.5
		sm:ml-5
		sm:gap-5;
}
.book-entry__btn__edit,
.book-entry__btn__delete {
	@apply
		rounded
		text-white
		w-full
		py-3
		sm:w-auto
		sm:py-0;
}
.book-entry__btn__edit {
	@apply
		bg-theme-gray-200
		sm:text-theme-gray-200
		sm:bg-white;
}
.book-entry__btn__delete {
	@apply
		bg-theme-red-100
		sm:text-theme-red-100
		sm:bg-white;
}
.book-entry__btn__mobile-text {
	@apply
		ml-3
		sm:hidden;
}